@import url("../../Assets/style/variables.css");

.navLinks {
  font-size: 2rem;
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.navLinks li a {
  text-transform: capitalize;
  color: var(--home-btn-color);
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1.25rem;
  margin: 1rem;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid var(--home-btn-color);
}

.navLinks li a:hover {
  transform: scale(1.1);
  transition: all 0.25s ease-in-out;
}
