.homeButton {
  cursor: pointer;
  border: 2px solid var(--backhome-btn-border);
  padding: 0.6em 1em;
  border-radius: 15px;
  background-color: var(--border-color-blue);
}

.homeButton a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 800;
}
