@import url("../../Assets/style/variables.css");

.cardHolder {
  box-sizing: content-box;
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  border-radius: 8px;
  background-color: var(--card-holder-bgc);
  border: 1px solid white;
  top: var(--cardholder-top);
}
