@import url("../../Assets/style/variables.css");

.stockDeck {
  width: var(--card-width);
  height: var(--card-height);
  margin-left: var(--card-width);
  position: absolute;
  border-radius: 8px;
  background-image: var(--card-back-img);
  background-size: cover;
}
