.stockDeck {
  width: 100px;
  height: 150px;
  margin-left: 100px;
  position: absolute;
  border-radius: 8px;
  background-image: url(../../Assets/cardImg/cardBack.png);
  background-size: cover;
}
