.header {
  box-sizing: border-box;
  background-color: lightgoldenrodyellow;
  height: 7.5vh;
  text-align: center;
  font-size: 1.35rem;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #ffe488;
}

.header button {
  margin-right: auto;
  width: 100px;
}

.header p {
  padding: 0;
  margin: 0 1rem;
  background-color: rgb(253, 253, 223);
  padding: 0.5em 0.75em;
  border-radius: 15px;
  border: 2px solid #ffe488;
}
.header a {
  display: block;
  margin-left: auto;
  width: 100px;
}

.newGame {
  margin-left: 10px;
  cursor: pointer;
  border: 2px solid rgb(0, 111, 175);
  padding: 0.5em 0.8em;
  border-radius: 15px;
  background-color: #80c7ff;
  color: white;
  letter-spacing: 3px;
  font-weight: 800;
}
