@import url("../../Assets/style/variables.css");

.board {
  background: var(--main-bgc-fallback); /* fallback for old browsers */
  background: var(--main-bgc-gradient);
  height: 70vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  box-sizing: border-box;
}
