table.blueTable {
  margin-bottom: 1.5rem;
  border-radius: 15px;
  border: 1px solid #1c6ea4;
  width: 350px;
  height: 40px;
  text-align: left;
}
table.blueTable td,
table.blueTable th {
  padding: 4px 5px;
  text-align: center;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #d0e4f5;
}
table.blueTable thead {
  background: #80c7ff;
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid #d0e4f5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table td.nameCell {
  text-align: left;
}
table td.index {
  font-weight: 700;
}
