@import url("../../Assets/style/variables.css");

table.blueTable {
  margin-bottom: 1.5rem;
  border-radius: 15px;
  border: 1px solid var(--records-table-border);
  width: var(--recordstable-width);
  height: var(--recordstable-height);
  text-align: left;
}
table.blueTable td,
table.blueTable th {
  padding: 4px 5px;
  text-align: center;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: var(--records-table-bgc);
}

table.blueTable thead th {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid var(--border-color-blue);
}
table.blueTable thead th:first-child {
  border-left: none;
}

table td.nameCell {
  text-align: left;
}
table td.index {
  font-weight: 700;
}
