* {
  box-sizing: border-box;
}

.slider {
  width: 330px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 1rem;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: rgb(0, 111, 175);
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 330px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: transparent;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  background: #80c7ff;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0.25em 0.5em 0;
  position: relative;
  border: 1px solid rgb(0, 111, 175);
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

.slides img {
  width: 300px;
  height: 300px;
}
