@import url("../../Assets/style/variables.css");

.bottomCardBoard {
  width: 100%;
  height: 22.5vh;
  position: relative;
  background: var(--main-bgc-fallback); /* fallback for old browsers */
  background: var(--main-bgc-gradient);
}
